.jumbotron.jumbotron-fluid.bg-dark.text-light.sticky-top.py-2
    .container.d-flex.justify-content-around
        div
            h1.display-4 Quoteables
            p.lead For when life gets you down.
        div.d-flex.align-items-end.mb-3.justify-content-around.w-25
            a(href="/") Home
            a(href="#") About








//- .jumbotron.jumbotron-fluid.bg-dark.text-light
//-     .container
//-         h1.display-4 Quoteables
//-         p.lead For when life gets you down.