.jumbotron.jumbotron-fluid.text-dark.bg-light.py-4
    .container.d-flex.header-container
        .row.d-lg-flex
            .col-12.col-lg.section-two.order-lg-2
                h1.display-4 Quoteables
                p.lead For when life gets you down.
            .col.section-three.d-flex.align-items-end.justify-content-around.order-lg-3
            .col-lg.col-12.section-one.d-flex.align-items-end.justify-content-center
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon
                        div#navbarNavAltMarkup.collapse.navbar-collapse
                            ul.navbar-nav
                                li.nav-item.active
                                    a.nav-link.active(href='/')
                                        | Home 
                                        span.sr-only (current)
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle.text-info(href='#' id="navbarDrowndownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Quotes
                                    .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                                        a.dropdown-item(href="/jokes") Dad Jokes
                                        a.dropdown-item(href="/inspiration") Inspiration
                                        a.dropdown-item(href="/advice") Advice