//- removed: .sticky-top
.jumbotron.jumbotron-fluid.text-dark.bg-light.py-4
    //- removed: justify-content: around
    .container.d-flex.header-container
        //- div.section-one
        div.section-two
            h1.display-4 Quoteables
            p.lead For when life gets you down.
        //- div.section-three.d-flex.align-items-end.mb-3.justify-content-around.w-25
        //-     a.text-dark(href="/") Home
        //-     a.text-dark(href="#") About








//- .jumbotron.jumbotron-fluid.bg-dark.text-light
//-     .container
//-         h1.display-4 Quoteables
//-         p.lead For when life gets you down.