doctype html
html.single-page(lang='en')
    head
        title Quoteables
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/stylesheets/styleB.css")
    body.bg-light.d-flex.flex-column.single-page.justify-content-between
        .row
            .col
                include includes/header
        .container
            .row.my-5
                .col.m-3
                    .card.index-card
                        img.card-img(src='https://picsum.photos/id/338/313/435' alt='Kanye West')
                        .card-img-overlay.card-img-overlay-index
                            h5.card-title.display-4 Kanye West 
                            a(href="/kanye" class="stretched-link") 
                .col.m-3
                    .card.index-card
                        img.card-img(src='https://picsum.photos/id/1011/313/435' alt='Advice')
                        .card-img-overlay.card-img-overlay-index
                            h5.card-title.text-dark.display-4 Advice 
                            a(href="/advice" class="stretched-link")
                .col.m-3
                    .card.index-card
                        img.card-img(src='https://picsum.photos/id/1020/313/435' alt='Inspiration')
                        .card-img-overlay.card-img-overlay-index
                            h5.card-title.text-dark.display-4 Inspiration
                            a(href="/inspiration" class="stretched-link")
        include includes/body-scripts
        include includes/footer