doctype html
html(lang='en')
    head
        title Quoteables
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/stylesheets/styleB.css")
    body
        .row
            .col
                include includes/header
        .container
            .row.my-5
                .col.m-3
                    .card.bg-dark.text-white
                        img.card-img(src='https://picsum.photos/id/338/180/250' alt='Kanye West')
                        .card-img-overlay
                            h5.card-title.display-4 Kanye West 
                            p.card-text.lead (Quotes may contain inappropriate language!)
                            a(href="/kanye" class="stretched-link") 
                .col.m-3
                    .card.bg-dark.text-white
                        img.card-img(src='https://picsum.photos/id/1011/180/250' alt='Advice')
                        .card-img-overlay
                            h5.card-title.text-dark.display-4 Advice 
                            p.card-text 
                            a(href="/advice" class="stretched-link")
                .col.m-3
                    .card.bg-dark.text-white
                        img.card-img(src='https://picsum.photos/id/1020/180/250' alt='Inspiration')
                        .card-img-overlay
                            h5.card-title.text-dark.display-4 Inspiration 
                            p.card-text 
                            a(href="/inspiration" class="stretched-link")
            //- footer
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")