doctype html
html.single-page(lang='en')
    include includes/head
    body.bg-light.single-page.d-flex.flex-column.justify-content-between
        include includes/header
        .container.d-flex.flex-column.align-items-center
            form.new-quote-form.d-flex.flex-column.justify-content-center(action="/new-submit", method="post")
                .input-group
                    .input-group-prepend
                        span.input-group-text Body
                    textarea.form-control.input-body(name="body" placeholder="Body of Quote" aria-label="Body text" value="body")
                .input-group.mt-2
                    .input-group-prepend
                        span.input-group-text Source
                    textarea.form-control.input-source(name="source" placeholder="Author" aria-label="Source text")
                input(type="hidden" name="id")
                .btn-group.align-self-center.mt-5
                    button.btn.btn-info.modal-submit-btn(type='submit') Save changes
            form(action="/inspiration-all" method="get")
                button.btn.btn-outline-info.mt-1 Back
        include includes/error.pug
        include includes/body-scripts
        include includes/footer