doctype html
html(lang='en')
    head
        title Quoteables
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        header
                a(href="new")
                    button.buttons(type="submit" name="newQuote") New 
        each quote in quotes
            quote
                div#quotesAll
                    h3= quote.body
                    h4= quote.source
                    form(action="/delete", method="post")
                        button.buttons(type="submit" name="delete" value=`${quote.id}`) Delete
                    a(href=`/${quote.id}/edit`)
                        button.buttons(type="submit" name="edit") Edit
                    hr