body {
    margin: 0;
    background-color: rgba(238, 186, 151, 0.8);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    width: 50vw;
    border: 1px solid white
}

h3 {
    max-width: 70vw;
    margin-top: 3rem;
}

#quotesAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newQuoteButton {
    
    margin: 6rem 0;
}

.quote {
    padding: 0 4rem;
}

.source {
    padding: auto;
}

.buttonsBox {
    margin-top: 4rem;
}

.buttons {
    background-color: rgba(238, 186, 151, 0.8);
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin: 2rem 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.buttons:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    transform: rotate(1deg);
}

.buttons:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.quoteSubmission {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quoteSubmission input {
    color: white;
    background: rgba(238, 186, 151, 0.5);
    border-radius: 3px;
    border: 1px solid white;
    padding: 0.2rem;
    margin-top: 6px;
}

.quoteSubmission button {

    margin-top:3rem;
}

.quoteSubmission input:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

::placeholder {
    font-style: italic;
    text-align: left;
    color: white;
}
