/* ----- Aids visual testing parameters ----- */
.test {
    border: 2px solid red;

}

body.single-page {
    height: 100%;
    overflow: hidden;
}

/* Header CSS */
.header-container {
    justify-content: space-around;
}

.section-one,
.section-three {
    width: 277.5px;
}

.section-two {
    border-bottom: 1px solid black;
    text-align: center;
}

/* ----- Inspiration route ----- */
.card-img-overlay-inspiration {
    text-align: center;
    color: black;
    background-color: white;
    width: 98%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    justify-content: space-around;
}

.card-img {
    border-radius: 20px;
}

.quote-card {
    width: 400px;
}

.container-inspiration {
    height: calc(100vh - 190px);
}

/* ----- Index ----- */
.card-img-overlay {
    border-radius: 20px;
}

/* ----- Generic (not route specific ----- */
.card {
    border: none;
    border-radius: 20px;
}

.row {
    margin-right: 0 ;
    margin-left: 0;
}

.capitalize {
    text-transform: capitalize;
}

.jumbotron {
    margin-bottom: 0;
}

.overlay {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(122, 175, 255);
    z-index: 10;
    height: 100px;
    display: none;
    position: absolute;
    width: 95%;
}

.overlay h3 {
    margin: 0;
}

.input-group-prepend {
    width: 15%;
}

.input-group-text {
    width: 100%;
}

.modal-body button{
    align-self: center;
}

.modal-body .input-body {
    min-height: 200px;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal button {
    margin-top: 1rem;   
}

.input-source {
    max-height: 38px;
    resize: none;
}

/* ----- Footer ----- */
.footer {
    position: fixed;
    top: calc(100vh - 40px);
    left: 50%;
    margin-left: -570px;
    text-align: center;
}