/* Adds visual testing parameters */
.test {
    border: 2px solid red;

}

.card {
    border: none;
}

.capitalize {
    text-transform: capitalize;
}

.jumbotron {
    margin-bottom: 0;
}

.overlay {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(122, 175, 255);
    z-index: 10;
    height: 100px;
    display: none;
    position: absolute;
    width: 95%;
}

.overlay h3 {
    margin: 0;
}

.input-group-prepend {
    width: 15%;
}

.input-group-text {
    width: 100%;
}

.modal-body button{
    align-self: center;
}

.modal-body .input-body {
    min-height: 200px;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal button {
    margin-top: 1rem;   
}

.input-source {
    max-height: 38px;
    resize: none;
}