doctype html
html.single-page(lang='en')
    include ../includes/head
    body.bg-light.d-flex.flex-column.single-page.justify-content-between
        include ../includes/header
        block content-main
        include ../includes/body-scripts
        include ../includes/footer